body {
    margin: 20px;
    
    font-family:'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #ffb703;
    border-bottom: 6px solid #d8cefe;
    border-radius: 50px;
    w3-animate-bottom:-200px;
    text-shadow: 2px 2px greenyellow;
    
    
  
}

.border-blue {
    border: 1px dotted blue;
}

